# fly.toml app configuration file generated for dps-admin on 2025-12-15T11:35:53+01:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'dps-admin'
primary_region = 'fra'

[build]

[env]
  NODE_ENV = 'production'
  PORT = '3000'

[[mounts]]
  source = 'data'
  destination = '/app/data'

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0

[[vm]]
  memory = '256mb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 256
